<h1>
  {{title}}
</h1>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
<form [formGroup]="addbook" (ngSubmit)="SaveData()">
  <div class="mb-3">
    <label class="form-label">Book name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="enter book name">

  </div>
  <div class="mb-3">
    <label class="form-label">Author name</label>
    <input type="text" class="form-control" formControlName="authorname" placeholder="enter author name">

  </div>

  <button type="submit" class="btn btn-primary">Add Book</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book</th>
      <th scope="col">author</th>
      <th scope="col">sell</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of bookdata">
      <th scope="row">
        {{item.id}}
      </th>
      <td>
        {{item.name}}

      </td>
      <td>
        {{item.authorname}}
      </td>
      <td>
        <button class="btn btn-success btn-sm" (click)="delete(item.id)">Sell</button>
      </td>
    </tr>
  </tbody>
</table>